h4 Welcome Admin
form(action="/crearCliente")
  input(type='submit' value='Crear Cliente!')
form(action='/clientes')
  input(type='submit' value='Clientes')
form(action='/registrarTransac')
  input(type='submit' value='Registrar Transaccion')
form(action='/verTransac')
  input(type='submit' value='Ver Transaccion')
a(href='/logout')
  | Logout
