head
  title Login
form(method='post' action='/login')
  h3 User
  input(type='text' name='user' placeholder='User')
  br
  br
  h3 Password
  input(type='password' name='pass' placeholder='Pass')
  br
  br
  input(type='submit' value='Login')
br
a(href="/createAdmin") Create Account!
