doctype html
head
  title Create Admin
form(method='post' action='/creatAdmin')
  lable User:
  br
  input(type='text' name='user')
  br
  lable Pass:
  br
  input(type='password' name='pass')
  br
  br
  input(type='submit' value='Crear')
