head
  title Crear Usuario!
form
  lable Nombre:
  br
  input(type='text' name='name')
  br
  br
  lable Apellido:
  br
  input(type='text' name='surname')
  br
  br
  lable Lugar:
  br
  input(type='text' name='place')
  br
  br
  lable Usuario:
  br
  input(type='text' name='usuario')
  br
  br
  lable Contraseña:
  br
  input(type='text' name='contra')
  br
  br
  input(type='submit' value='Crear!')